body {
  height: 100%;
  /* The image used */
  background-image: url(https://wallpapershome.ru/images/wallpapers/death-stranding-3840x2160-19212.jpg);
  /* Full height */

  /* Center and scale the image nicely */

  background-repeat: no-repeat;
  background-size: cover;

}

#search {
width: 100%;
margin: 0px;
border: 0px;
color: white;
background-color:black;

}
#wiki{
  color:white;
  background-color: black;
  text-decoration: none;
}
#wiki:hover {
color: black;
  background-color: white;
}
#help:hover {
color: black;
  background-color: white;
}
#support:hover {
color: black;
  background-color: white;
}
td{
  padding-left:  100px;
  padding-right: 100px;

}
#forum{
  background-color: AliceBlue;
  color: black;
}
a{
  text-decoration: none;
  color:white;
}
